.books-container {
	padding-top: 1rem;

	width: 100%;

	display: grid;
	grid-template-columns: repeat(2, minmax(350px, 1fr));
	grid-auto-rows: 14rem;
	gap: 15px;
}

/* ================ BOOK CARD =============== */

.book-item {
	border: 1px solid var(--caribbean-current);
	border-left: 0.6rem solid var(--caribbean-current);
	border-radius: 1.8rem;
	box-shadow: 0px 1px 3px black;

	padding: 1rem;

	background-color: white;

	display: grid;
	grid-template: 3fr 1fr / 1fr 5fr;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

span.book-icon {
	font-size: 3.5rem;
	font-weight: 700;
	text-align: center;
}

.book-data > * {
	text-align: end;
	font-size: 1.2rem;
	font-weight: 400;

	display: flex;
	justify-content: space-between;
}

.book-data {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.book-title::before {
	content: "Title: ";
	text-align: start;
}

.book-author::before {
	content: "Author: ";
}

.book-year::before {
	content: "Year: ";
}

.book-pages::before {
	content: "Pages: ";
}

.book-status::before {
	color: initial;
	font-weight: initial;
	content: "Read: ";
}

.book-status.read {
	font-weight: 600;
	color: var(--indigo-dye);
}

.book-status.to-read {
	font-weight: 600;
	color: var(--burnt-sienna);
}

.buttons-container {
	display: flex;
	flex-direction: row-reverse;
	gap: 1rem;

	grid-column: 2 / 3;
}

button.delete-book-btn {
	width: 6rem;

	background-color: var(--burnt-sienna);
	border-color: var(--burnt-sienna);
}

button.delete-book-btn:hover {
	background-color: var(--white);
	color: var(--burnt-sienna);
}

button.mark-read-btn {
	width: 6rem;
}

@media only screen and (max-width: 600px) {
	.books-container {
		width: 100%;
		grid-template-columns: 1fr;
	}
}
